
      
      <%= simple_form_for(@position) do |f| %>
        <%= f.error_notification %>
      
        <div class="form-inputs">
          <%= f.input :title, label: 'Název', required: false %>
          <%= f.input :description, label: 'Popis', required: false %>
          <%= f.input :requirements, label: 'Požadavky', required: false %>
        </div>
      
        <div class="form-actions">
          <%= f.button :submit, 'Uložit', class: "btn btn-primary btn-lg btn-block" %>
        </div>
      <% end %>
      