<p id="notice"><%= notice %></p>

<p>
  <strong>Název:</strong>
  <%= @position.title %>
</p>

<p>
  <strong>Popis:</strong>
  <%= @position.description %>
</p>

<p>
  <strong>Požadavky:</strong>
  <%= @position.requirements %>
</p>

<%= link_to 'Upravit', edit_position_path(@position) %> |
<%= link_to 'Zpět', positions_path %>
