<p id="notice"><%= notice %></p>

<h1>Listing Brigades</h1>

<table>
  <thead>
    <tr>
      <th>Event</th>
      <th>Position</th>
      <th>Quantity</th>
      <th>Visible</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @brigades.each do |brigade| %>
      <tr>
        <td><%= brigade.event %></td>
        <td><%= brigade.position %></td>
        <td><%= brigade.quantity %></td>
        <td><%= brigade.visible %></td>
        <td><%= link_to 'Show', brigade %></td>
        <td><%= link_to 'Edit', edit_brigade_path(brigade) %></td>
        <td><%= link_to 'Destroy', brigade, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Brigade', new_brigade_path %>
