<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= @brigade.event.title %>
</p>

<p>
  <strong>Position:</strong>
  <%= @brigade.position.title %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @brigade.quantity %>
</p>

<p>
  <strong>Visible:</strong>
  <%= @brigade.visible %>
</p>

<%= link_to 'Edit', edit_brigade_path(@brigade) %> |
<%= link_to 'Back', brigades_path %>
