
<div class="form-wrapper">
  <div class="form-login col-xs-12 col-md-6 col-md-offset-3">
    <div class="form-title">
      <h3>Detail akce</h3>
    </div>
    <hr>
    <p>
      <strong>Název:</strong>
      <%= @event.title %>
    </p>
    
    <p>
      <strong>Popis:</strong>
      <%= @event.description %>
    </p>
    
    <p>
      <strong>Začátek:</strong>
      <%= @event.start_date %>
    </p>
    
    <p>
      <strong>Konec:</strong>
      <%= @event.end_date %>
    </p>
    <% if @event.event_addresses.present? %>
      <p>
        <strong>Adresa:</strong>
        <% @event.event_addresses.each do |ea| %>
        <p><%= ea.street %> <%= ea.street_number %>, <%= ea.city %></p>
        <% end %>
      </p>
    <% else %>
      <p>Adresa není k dispozici.</p>
    <% end %>
    
    
    <p>
      <strong>Manažer:</strong>
      <%= User.find_by_id(@event.manager.to_i).full_name unless @event.manager %>
    </p>
    
    <p>
      <strong>Visible:</strong>
      <%= @event.visible %>
    </p>
    
    <% if @brigades.present? %>
    <strong>Brigády:</strong>
      <table class="table table-sm">
          <thead>
            <tr>
              
              <th>Pozice</th>
              <th>Počet</th>
              <th>K dispozici</th>
              <th colspan="3"></th>
            </tr>
          </thead>
        
          <tbody>
            <% @brigades.each do |brigade| %>
              <tr>
                <%#= link_to brigade.event.title, event_path(brigade.event) %>
                <td><%= brigade.position.title %></td>
                <td><%= brigade.quantity %></td>
                <td><%= available_positions(brigade) %></td>
                <td><%= link_to 'Detail', brigade %></td>
                
                <td><%= link_to 'Přihlásit se', new_subscription_path(brigade) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        
        
      </p>
    <% else %>
      <p>Nemáte zadanou žádnou brigádu.</p>
    <% end %>
    <% if current_user.role == "admin" || current_user.role == "manager" %>
      <%= link_to "Nová pozice", new_position_path %> | 
      <%= link_to "Nová brigáda", new_brigade_path(@event) %> | 
    
      <%= link_to 'Upravit', edit_event_path(@event) %> | 
    <% end %>
    <%= link_to 'Zpět', events_path %>
  </div>
</div>