<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @event.user.full_name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @event.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @event.end_date %>
</p>

<p>
  <strong>Manager:</strong>
  <%= User.find_by_id(@event.manager.to_i).full_name %>
</p>

<p>
  <strong>Visible:</strong>
  <%= @event.visible %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
