<div class="form-wrapper">
  <div class="form-login col-md-6 col-md-offset-3">
    <br>
    <h2>Step 2</h2>
    <hr>
    <br>
    
    <%= simple_form_for(@account, :url => wizard_path, :method => :put) do |f| %>
      <%= f.error_notification %>
    
      <div class="form-inputs">
        
        <%= f.input :family_status, label: 'Rodinný stav', required: false do %>
          <%= f.select(:family_status, Account.family_statuses.keys.map {|fs| [fs.titleize,fs]}, include_blank: true) %>
        <% end %>
        
        <%= f.input :bank_acc, label: 'Číslo bankovního účtu', required: false %>
        <%= f.input :insurance, label: 'Zdravotní pojišťovna', required: false %>
        <%= f.input :occupation, label: 'Zaměstnanecký poměr', required: false %>
        <%= f.input :terms, as: :boolean, checked_value: true, unchecked_value: false, label: 'Souhlas s podmínkami použití' %>
        
        
      </div>
    
      <div class="form-actions">
        <%= f.button :submit, "Uložit změny", class: "btn btn-primary btn-lg btn-block" %>
      </div>
      
      <%= link_to "Přeskočit", next_wizard_path %>
      
    <% end %>
  </div>
</div>    

