<%= simple_form_for(@subscription) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :brigade, :value => :brigade_id, as: :hidden %>
    <%= f.association :user, :value => @user.id, as: :hidden %>
    <%= f.input :approved, input_html: {value: f.object.approved || false }, as: :hidden %>
    <br>
    <p>Souhlasím s podmínkami přihlášení k akci. /zde bude zaškrtávací trlačítko/</p>
    <br>
    <h3><%= @subscription.brigade.position.title + ' na akci ' + @subscription.brigade.event.title%></h3>
    <br>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Uložit", class: "btn btn-primary" %>
  </div>
<% end %>
