<!DOCTYPE html>
<html>
<head>
  <title>Scaff</title>
  <%= viewport_meta_tag(:maximum_scale => "1.0") %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller_name %> <%= action_name%>">
  
  <%= render 'layouts/header' %>
    
    <div class="container main">
      <div class="row-main">
        <div class="col-md-10 col-md-offset-1">
          <div class="flash"><%= bootstrap_flash %></div>
        </div>  
        <div class="wrapper">
        <%= yield :sidebar %>
        <%= yield %>
        </div>
      </div><!--/row-->
    </div> <!-- /container -->
    
    <%= render 'layouts/footer' %>
  
  </body>
</html>
  