<!DOCTYPE html>
<html>
<head>
  <title>Scaff</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if user_signed_in? %> 
    <header>
      <%= link_to "Subscriptions", subscriptions_path %> | 
      <%= link_to "Events", events_path %> | 
      <%= link_to "Positions", positions_path %> | 
      <%= link_to "Brigades", brigades_path %> ||| 
      <%= link_to "Odhlásit se", destroy_user_session_path, method: "delete" %></header>
  <% else %>
    <header><%= link_to "Přihlásit se", new_user_session_path %></header>
  <% end %>
  
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  
  <%= yield %>

</body>
</html>
